{% extends 'base.html.twig' %}

{% block body %}
    <h1>Article</h1>

    <table>
        <tbody>
        <tr>
            <th>Id</th>
            <td>{{ article.id }}</td>
        </tr>
        <tr>
            <th>Titre</th>
            <td>{{ article.titre }}</td>
        </tr>
        <tr>
            <th>Contenu</th>
            <td>{{ article.contenu }}</td>
        </tr>
        <tr>
            <th>commentaires</th>
            <td>
                {{ form_start(showForm) }}
                {{ form_widget(showForm) }}
                {{ form_end(showForm) }}
            </td>
        </tr>
        {% for commentaire in commentaires %}
            <tr>
                <th>Date</th>
                <td>{{  commentaire.date|date('Y-m-d H:i') }}</td>
            </tr>
            <tr>
                <th>Titre</th>
                <td>{{ commentaire.titre }}</td>
            </tr>
            <tr>
                <th></th>
                <td>{{ commentaire.texte }}</td>
            </tr>

        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('article_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('article_edit', { 'id': article.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
            <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
